body {
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
    font-weight: 400, 700;
    font-family: "Outfit", sans-serif;
    
    /*? Center the objects within*/
    height: 100vh;
    place-content: center; 
    margin: 0px;
}
.container{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    
    width: 500px;
    padding: 30px 0 30px 0;
    border-radius: 25px;
    margin: auto;   
}
.qrcode{
    display: block;
    width: 90%;
    margin: auto;
}
.description{
    display: block;
    width: 90%;
    margin: auto;
    text-align: center;
}